.main
{
          text-align: center;
          width: 1200px;
          height: 1000px;
          margin-left: auto;
          margin-right: auto;
          margin-top: auto;
          margin-bottom: auto;
          font-family: 'Dosis', sans-serif;
}

.box1
{
          margin-top: 120px;
}

.box2
{
          margin-top: 50px;
          width: 50%;
          height: 500px;
          margin-left: 300px;
          text-align: center;
          border:1px solid red;
          border-radius: 20px;
          box-shadow: 10px 10px 20px silver;
          display: flex;
          flex-direction: column;
          justify-content: stretch;
}

h1
{
          font-size: 100px;
          margin-bottom: 20px;
          font-weight: 500;
          
}

hr
{
          border: 1px solid silver;
          width: 50%;
          margin-right: 0px;
}


.b1
{
          display: inline-block;
          color:red
          
}

h2
{
          display: inline-block;
          margin-left: 20px;
          margin-bottom: 0px;
}

.b2
{
          align-self: flex-end;
          margin-right: 15px;
          color:red;

}
.input
{
          margin-bottom: 240px;
          margin-top: 20px;
          align-self: flex-start;
          margin-left: 20px;
}

.box2 a
{
          width: 50px;
          /* align-self: flex-end; */
          margin-right: 20px;
          padding-bottom: 0px;
          /* border: 2px solid; */
          margin-left: 531px;
          margin-top: 21px;
}

.fas
{
          margin-top: 0px;
}


@media (min-width:320px) and (max-width:480px)
{
          .main
          {
                    display:flex;
                    flex-direction: column;
                    width:100%;
                    height:100vh;
                    justify-content: center;

          }

          .box1
          {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin: 0;
                    position: relative;
                    height: 10%;
                    margin-bottom:6%;
          }

          .box1 h1
          {
                    margin:0;
                    position: absolute;
                    font-size: 43px;
                    right: 7%;
                    font-weight:700;
          }

          .box1 a
          {
                    position: absolute;
                    left: 5%;
          }

          .box1 h2
          {
                    display: none;
          }

          .box2
          {
                    display: flex;
                    flex-direction: column;
                    width: 75%;
                    margin: 0 auto;
                    height: 70%;
                    position: relative;
          }

          .box2 h3
          {
                    font-size: 31px;
                    margin: 0;
                    margin-top: 14px;
                    color: red;
                    font-weight: 500;
          }

          .input
          {
                    margin: 0;
          }

          input
          {
                    margin-right: 14px;
          }

          .box2 a
          {
                    margin: 0;
                    position: absolute;
                    bottom: 2%;
                    right: 2%;
                    width: 37px;
          }

          .b2
          {
                    margin-right: 0px;
          }

          .b1 .fas
          {
                   font-size: 2.5em;
                   position: absolute;
                   top: -23%;
          }
          
          .b2 .fas
          {
                    font-size: 1.5em;
          }
                    
}
